<a href="https://colab.research.google.com/github/dieuquynh68/DA02_python/blob/main/Practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercise 1

In [ ]:
result = ((6 + 4) * 2 -32 + (12 // 4 * (6 + 4) * 2 - 3**2 + 12 // 4 * (6 + 4) * 2 - 32 + 12 // 4))
print(f"The result is {result}")

The result is 70

#Exercise 2

In [ ]:
a = 10
a+=5
print(f"The result is {a}")

The result is 15

#Exercise 3

In [ ]:
x = 15
y = 20
print(f"Is x less than y? Result:{x<y}")

Is x less than y? Result:True

# Exercise 4

In [ ]:
num = 23
print(f"The result is: {num%7}")

The result is: 2

#Exercise 5

In [ ]:
string = "Fresher Academy"
converted_string = string.replace('a','@'). replace('e','3')
print(f"Converted string is: {converted_string}")

Converted string is: Fr3sh3r Ac@d3my

#Exercise 6

In [ ]:
int_var = 8
float_var = 2.5
print(f"Sum: {int_var + float_var}")
print(f"Difference: {int_var - float_var}")
print(f"product: {int_var * float_var}")
print(f"Quotient: {int_var/float_var}")

Sum: 10.5
Difference: 5.5
product: 20.0
Quotient: 3.2

#Exercise 7

In [ ]:
my_string = "Python Programming"
print(f"The length of the string: {len(my_string)}")
print(f"The string in uppercase: {my_string.upper()}")
print(f"The string reversed: {my_string[::-1]}")

The length of the string: 18
The string in uppercase: PYTHON PROGRAMMING
The string reversed: gnimmargorP nohtyP

#Exercise 8

In [ ]:
my_list = [10, 20, 30, 40, 50]
print(f"Exercise 8: First element: {my_list[0]}, Last element: {my_list[-1]}")
my_list.append(60)
print(f"Updated list after adding 60: {my_list}")
my_list.pop(2)
print(f"Updated list after removing element at index 2: {my_list}")

Exercise 8: First element: 10, Last element: 50
Updated list after adding 60: [10, 20, 30, 40, 50, 60]
Updated list after removing element at index 2: [10, 20, 40, 50, 60]

#Exercise 9

In [ ]:
my_dict = {"name": "John", "age":25, "city": "New York"}
print(f"The value of 'name' key: {my_dict['name']}")
my_dict["country"] = "USA"
print(f"Dictionary after adding 'country': {my_dict}")
my_dict["age"] = 26
print(f"Dictionary after updating 'age': {my_dict}")

The value of 'name' key: John
Dictionary after adding 'country': {'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}
Dictionary after updating 'age': {'name': 'John', 'age': 26, 'city': 'New York', 'country': 'USA'}

#Exercise 10

In [ ]:
my_tuple = (100, 200, 300, 400, 500)
print(f"First element of the tuple: {my_tuple[0]}. Last element of the tuple: {my_tuple[-1]}")
print(f"The length of the tuple: {len(my_tuple)}")
print(f"Does the number 300 exist in the tuple? {'300 exists in the tuple' if 300 in my_tuple else '300 does not exist in the tuple'}")

First element of the tuple: 100. Last element of the tuple: 500
The length of the tuple: 5
Does the number 300 exist in the tuple? 300 exists in the tuple